<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace是用于方法调用的映射,而不是实体类和表的映射,配置文件中设置的别名,和这个User没有关系 -->
<!-- 调用下面的标签 需要使用 namespace.id 来执行 -->
<mapper namespace="com.yshen.mapper.PaymentMapper">
    <!--
		id : 相当于方法名
		parameterType : 表示传入的参数类型,需要写类全名,可以使用别名
		resultType : 表示执行完之后的结果集类型
	 -->
    <!-- 这里的User 应该写全名,但是由于我们设置了别名,所以写User也是可以的 -->
<!--    <insert id="add" parameterType="User">-->
<!--        &lt;!&ndash; 这里的#username 等于是用 ?  然后再对?进行设置值,值就是参数对象中的username变量的值 &ndash;&gt;-->
<!--        insert into t_user(username,password,nickname,type) values(#{username},#{password},#{nickname},#{type})-->
<!--    </insert>-->

    <insert id="create" parameterType="com.yshen.springcloud.model.Payment" useGeneratedKeys="true" keyProperty="id">
       INSERT INTO  payment(serial) VALUES (#{serial})
    </insert>

    <resultMap id="BaseResultMap" type="com.yshen.springcloud.model.Payment">
        <id column="id" property="id"></id>
        <result column="serial" property="serial"/>
    </resultMap>

    <select id="getPaymentById" parameterType="Long" resultMap="BaseResultMap">
        select * from payment where id=#{id};
    </select>


</mapper>